<template>
    <div class="row">
        <div class="col-md-12">
            <footer>
                <p>Gestion de los posts del sitio</p>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>

</style>