<template>
    <div class="row">
        <div class="col-md-12">
            <header>
                <h1>Listado de Posts</h1>
            </header>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>

</style>