<template>
  <div>
    <div> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="post in posts" :key="post.id">
            <!-- <th scope="row"></th> -->
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "EjemploPost",
  data() {
    return {
      posts: [
        {
          id: 1,
          title: "Post 1",
          body: "Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        },
        {
          id: 2,
          title: "Post 2",
          body: "Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        },
        {
          id: 3,
          title: "Post 3",
          body: "Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        }
      ]
    }
  }
}
</script>

<style>
</style>