<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Lista de útiles</title>
</head>

<body>
    <div class="container">
        <div id="lista-compras">
            <div class="header">
                <h1> {{ header.toLocaleUpperCase() }} </h1>
                <button v-if="estado === 'default'" class="btn btn-primary" @click="cambiarEstado('edit')"> Agregar
                </button>
                <button v-else class="btn btn-secondary" @click="cambiarEstado('default')"> Cancelar </button>
            </div>
            <div v-if="estado === 'edit'">
                <input type="text" placeholder="Agregar nuevo elemento" v-model="newUtil" @keyup.enter="guardarElemento">
                <button class="btn btn-primary" v-bind:disabled="newUtil.length === 0" @click="guardarElemento"> Guardar
                </button>
            </div>
            <ul>
                <li v-for="elemento in utiles" :class="{tachado : elemento.comprado}" v-on:click="cambiarEstadoCompra(elemento)"> {{ elemento.util }} </li>
            </ul>
            <p v-if="utiles.length === 0"> No hay elementos en la lista. </p>
        </div>
    </div>


    <!-- production version, optimized for size and speed 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#lista-compras',
            data: {
                header: 'Listado de útiles',
                newUtil: '',
                estado: 'default',
                utiles: [{
                    util: '3 Cuadernos',
                    comprado: true
                }, {
                    util: '1 Lápiz',
                    comprado: true
                }, {
                    util: '1 Borrador',
                    comprado: false
                }]
            },
            methods: {
                guardarElemento: function() {
                    this.utiles.push({
                        util: this.newUtil,
                        comprado: false
                    });
                    this.newUtil = '';
                },
                cambiarEstado: function(newEstado) {
                    this.estado = newEstado;
                    this.newUtil = '';
                },
                cambiarEstadoCompra(util) {
                    util.comprado = !util.comprado;
                }
            }
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>