<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>componentes02</title>
  <style>
    body {
      height: 100vh;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: Roboto, sans-serif;
      background-color: #ccdcdc;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but componentes02 doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>