<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>componentes-vue</title>
</head>

<body>
    <div id="app">
        <!--- <div>
            <comp-saludo inline-template>
                <h1 @click="display"> {{titulo}} </h1>
            </comp-saludo>
        </div>
        <div>
            <comp-titulo></comp-titulo>
        </div>
        <div>
            <comp-lista></comp-lista>
        </div> -->

    </div>
</body>

</html>