<template>
  <div>
    <div @click="seleccionar" class="plan" :class="{'plan-activo':seleccionado}">
      <div class="descripcion">
        <span class="titulo">{{nombre}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Plan",
  seleccionado: false,
  props: {
    nombre: {
      type: String,
      default: "Nuevo plan en desarrollo",
      requeried: true
    }
  },
  data() {
    return {
      seleccionado: false
    }
  },
  methods: {
    seleccionar() {
        this.$emit('select', this.nombre);
        this.seleccionado = true;
    }
  }
}
</script>

<style>
</style>